/*All the links and stuff*/
.topbar{
  color:white;
  margin: 0 auto;
  position:center;
  font-size:30px;
  text-indent:15px;
  font-family: JetBrains Mono;
}

head{
  color:white;
  font-family: JetBrains Mono;
}

h2{
  color:white;
}
h4{
  color:white;
}

button {
  text-align:center;
  width:20%;
  height:70%;
  font-size:30;
  font-family: JetBrains Mono;
  font-weight: bold;
  background-color:black;
  border-color:gold;
  color:gold;
}


body{
  background-color:#758575;
  color:white;
  font-family: JetBrains Mono;
}

/*Dark theme(dark mode) if thats prefered*/
@media (prefers-color-scheme: dark){
  head{
    color:black;
  }
  
  body{
    color:black;
  }
  ol{
    color:white;
  }

  a:link{
    color:black;
    text-decoration:none;
  }
  a:visited{
    color:black;
    text-decoration:none;
  }
  a:hover{
    color:white;
  }
  a:active{
    color:dark;
  }

  #textUnderLineThing{
    border-color:black;
  }

}



/*Styles the text boxes*/
ol {
  border-color:black;
  border-style:double;
  width:35%;
}
/*Black bar that seperated text or underneath links*/
#textUnderLineThing{
  border-color:black;
}


/*Links at top of screen*/
a:link{
  color:white;
  text-decoration:none;
}
a:visited{
  color:white;
  text-decoration:none;
}
a:hover{
  color:black;
}
a:active{
  color:white;
}

/*Credit Link at bottom of screen*/
.CreditsLink{
  position:center;
  font-size:30px;
  text-indent:15px;
  text-align:center;
  right:30%;
  font-family: JetBrains Mono;
}