head{
  color:white;
  font-family: JetBrains Mono;
}

h2{
  color:white;
}
h4{
  color:white;
}

.buttonCalc {
  text-align:center;
  width:20%;
  height:70%;
  font-size:30;
  font-family: JetBrains Mono;
  background-color:black;
  border-color:gold;
  color:gold;
}


body{
  background-color:#758575;
  color:white;
  font-family: JetBrains Mono;
}

/*Dark theme(dark mode) if thats prefered*/
@media (prefers-color-scheme: dark){
  head{
    color:black;
  }
  
  body{
    color:black;
  }
  ol{
    color:white;
  }

  #textUnderLineThing{
    border-color:black;
  }

}



/*Styles the text boxes*/
ol {
  border-color:black;
  border-style:double;
  width:35%;
}
/*Black bar that seperated text or underneath links*/
#textUnderLineThing{
  border-color:black;
}


/*Credit Link at bottom of screen*/
.CreditsLink{
  position:center;
  font-size:30px;
  text-indent:15px;
  text-align:center;
  right:30%;
  font-family: JetBrains Mono;
}