head{
    font-family: JetBrains Mono;
    color:white;
}

h2{
  color:white;
}

body{
    font-family: JetBrains Mono;
    background-color:#a9bab2;
}

/*All the links and stuff*/
.topbar{
    color:white;
    margin: 0 auto;
    position:center;
    font-size:30px;
    text-indent:15px;
    font-family: JetBrains Mono;
  }

.Text-Body{
    border-style:inset;
    border-color:#5d695d;
    text-align: left;
    color:white;
}


/*Links at top of screen*/
a:link{
    color:white;
    text-decoration:none;
  }
  a:visited{
    color:white;
    text-decoration:none;
  }
  a:hover{
    color:black;
  }
  a:active{
    color:white;
  }

/*Dark theme(dark mode) if thats prefered*/
@media (prefers-color-scheme: dark){
    .topbar{
      color:black;
    }
    head{
      color:black;
    }
    body{
      background-color:#758575;
    }
    
    a:link{
      color:black;
      text-decoration:none;
    }
    a:visited{
      color:black;
      text-decoration:none;
    }
    a:hover{
      color:white;
    }
    a:active{
      color:dark;
    }
  
    #textUnderLineThing{
      border-color:black;
    }
  
  }